@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Product Page";
}

<div class="text-center">
  
    @foreach (var product in Model)
    {
        <div class="product-item">
            <h2>@product.Id - @product.Name</h2>
            <p>Price: @product.Price.ToString("C")</p>
        </div>
	}
</div>
